{% extends 'base.html' %}
{% load staticfiles i18n utility_tags highlight imagekit %}

{% block content %}

{% url 'impressum' as impressum_url %}
{% url 'about' as about_url %}
{% url 'contact' as contact_url %}
{% url 'resource' as resource_url %}
{% url 'search' as search_url %}

<!-- Search input field
  if not on search page, click on search input field directs to search page,
  actually  meant to be:   request.get_full_path != search_url
  but this doesnt work (see issue #100)
-->
<div class="row search-header search-input-field">
  <div class="col-xs-12">
    <div class="search-form">
      <form method="get" action="{% url 'search' %}"class="form-horizontal form-inline" role="form">
        {% csrf_token %}
        <div class="form-group width-100">
          <div class="search-image">
            <button type="submit" id="search-submit" class="btn btn-default" type="submit" value="Search!">
              <img src="{% static 'images/lupe.png' %}" class="center-block" alt="Search!">
            </button>
          </div>
          <div class="search-type">
            <label for="searchField" class="sr-only">Searchfield</label>
            <input type="text" id="search-input" placeholder="{% trans 'Search' %}" class="form-control" name="q" autocomplete="off" autofocus />
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Search facets -->
<div class="row search-header">
  <!-- desktop facets -->
  <div id="dropdown" class="col-xs-12 hidden-xs search-facets">
    {% for name,facet_raw in facets.fields.items|sort:True %}
    <div class="dropdown facet" title="{% display_explanation name LANGUAGE_CODE %}">
      <button type="button" class="dropdown-toggle facet-title {% sub_facet_checked name request.GET %}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {% trans name %}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        {% format_facet_list facet_raw as facet %}
        {% for facet_name in facet|sort %}
        <li>
          <button type="button" name="facets" data-facet="{{ facet_name.0|urlencode }}" class="list-group-item {% if facet_name.1 == 0 %}disabled{% endif %} {% facet_checked facet_name.0 request.GET %} facet-text" value="{{name}}_exact:{{ facet_name.0|urlencode }}" {% if facet_name.1 == 0 %}disabled{% endif %}>
            {% if name == "types" %}
            <img class="facet-type-icon" src="{% display_icon 'type' facet_name.0|slugify %}" />
            {% endif %}
            <span class="badge">{{ facet_name.1 }}</span> <p>{% trans facet_name.0|title %}</p>
          </button>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
  </div>

  <!-- mobile facets -->
  <div id="accordion" role="tablist" aria-multiselectable="true" class="col-xs-12 visible-xs search-facets">
    {% for name,facet in facets.fields.items|sort:True %}
    <div class="facet" role="tab" id="heading-{% trans name|capfirst %}">
      <button type="button" class="collapse-toggle facet-title {% sub_facet_checked name request.GET %}" data-toggle="collapse" data-parent="#accordion" href="#collapse-{% trans name|capfirst %}" aria-expanded="false" aria-controls="collapse-{% trans name|capfirst %}">
        {% trans name|capfirst %}
        <span class="caret"></span>
      </button>
    </div>
    <div id="collapse-{% trans name|capfirst %}" class="panel-collapse collapse facet" role="tabpanel" aria-labelledby="heading-{% trans name|capfirst %}">
      <div class="panel-body">
        <ul class="accordion-menu">
          {% for facet_name in facet|sort %}
          <li>
            <button type="button" name="facets" data-facet="{{ facet_name.0|urlencode }}" class="list-group-item {% if facet_name.1 == 0 %}disabled{% endif %} {% facet_checked facet_name.0 request.GET %} facet-text" value="{{name}}_exact:{{ facet_name.0|urlencode }}" {% if facet_name.1 == 0 %}disabled{% endif %}>
              {% if name == "types" %}
              <img class="facet-type-icon" src="{% display_icon 'type' facet_name.0|slugify %}" />
              {% endif %}
              <span class="badge">{{ facet_name.1 }}</span> <p>{% trans facet_name.0 %}</p>
            </button>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% active_facets_list request.GET as active_facets %}
{% if active_facets|length > 0 %}
  <div class="active-facets">

    {% for active_facet in active_facets %}
      <span class="label label-facet">{% trans active_facet %} <a href="#" onclick="clearFacetByValue('{{ active_facet }}'); return false">X</a></span>
    {% endfor%}

    <span class="label label-facet"><a href="#" onclick="clearFacets(); return false">{% trans "Clear all" %}</a></span>
  </div>
{% endif %}

{% block search-content %}
<div class="page-content title-page row">
  <h1 class="col-xs-12 col-sm-6">{% trans 'Online educational resources from the University of Basel' %}</h1>

  <div class="col-xs-12 col-sm-6 title-intro">

    <p>
      {% blocktrans %}
      You can either browse through the resources or search for them using keywords.
      {% endblocktrans %}
    </p>

    <p class="shout">
    {% trans 'Have fun browsing the portal eEducation!' %}
    </p>

  </div>
</div>

{% endblock %}

<div class="row gutter-bottom lighthouse">
  {% for learningresource in learningresource_list %}
  {% include 'snippets/resource.html' with learningresource=learningresource %}
  {% endfor %}
</div>

{% endblock content %}

{% block javascript %}
{{ block.super }}
<script src="{% static 'js/search.js' %}"></script>
{% endblock javascript %}
