{% load staticfiles i18n utility_tags highlight imagekit %}

<div class="col-xs-12 col-sm-6 col-md-4 resfield">
	<div class="resfield-inner">
    {% if learningresource.title_image %}
		<a class="resimage hidden-xs" href="{{ learningresource.get_absolute_url }}">
			{% generateimage 'eeducation:frontpagetn' source=learningresource.title_image -- alt=learningresource.title title=learningresource.title class='img-responsive hidden-xs' %}
    </a>
    {% generateimage 'eeducation:frontpagetnbig' source=learningresource.title_image as th %}

    <a class="resimage visible-xs" href="{{ learningresource.get_absolute_url }}" style="background-image: url('{{th.url}}'); background-position: center center; background-size: cover;">
      {% generateimage 'eeducation:frontpagetnbig' source=learningresource.title_image -- alt=learningresource.title title=learningresource.title class='img-responsive visible-xs' %}
    </a>
		{% else %}
    <a class="resimage hidden-xs" href="{{ learningresource.get_absolute_url }}">
			<img class="img-responsive" src="https://placeholdit.imgix.net/~text?txtsize=23&txt=eEducation&bg={% get_random_color %}&txtclr={% get_random_color %}&w=400&h=260" alt="eEducation" title="eEducation"/>
		</a>
    <a class="resimage visible-xs" href="{{ learningresource.get_absolute_url }}" style="background-image: url('https://placeholdit.imgix.net/~text?txtsize=23&txt=eEducation&bg={% get_random_color %}&txtclr={% get_random_color %}&w=767&h=500'); background-position: center center; background-size: cover;">
      <img class="img-responsive" src="https://placeholdit.imgix.net/~text?txtsize=23&txt=eEducation&bg={% get_random_color %}&txtclr={% get_random_color %}&w=767&h=500" alt="eEducation" title="eEducation"/>
    </a>
    {% endif %}
		<div class="res-content-with-margin">
      <a class="resource-title" href="{{ learningresource.get_absolute_url }}">
        <hr>
        <h4>{{ learningresource.title }}{% if learningresource.subtitle %}:
          <span class="resource-subtitle">{{ learningresource.subtitle }}</span>
          {% endif %}
        </h4>
        <hr>
      </a>
			<p class="restext">{{ learningresource.description|truncatewords:50 }}</p>
			<div class="resicons">
				{% for type in learningresource.types.all %}
				<img class="type-{{ type.title | slugify }} icon" src="{% display_icon 'type' type.title|slugify %}" title="{% trans type.title %}" alt="{% trans type.title %}"/>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
