{% extends "admin/change_list.html" %}
{% load i18n %}
{% block object-tools-items %}

    {{ block.super }}

    <li>
        <a href="fileimport/" class="grp-state-focus" class="addlink">{% trans "Import Resources from xml file" %}</a>
    </li>

{% endblock %}

{% block content %}
    {{ block.super }}
{% endblock %}
