{% extends 'search/search.html' %}
{% load staticfiles i18n utility_tags %}

{% block search-content %}
<div class="page-content">
  <div class="row bright-background flex-row-background-margin">
    <div class="col-xs-12 col-sm-3">

    </div>
    <div class="col-xs-12 col-sm-9">
      <h1>{% trans "Welcome!" %}</h1>
    </div>
  </div>
</div>
{% endblock search-content %}
