{% extends 'search/search.html' %}
{% load staticfiles i18n utility_tags %}

{% block search-content %}
<div class="page-content">
  <div class="bright-background impressum-container">
    <div class="row bright-background flex-row-background-margin">
      <div class="col-xs-12 col-sm-4 impressum-title">
        <h2>{% trans "Contact" %}</h2>
      </div>

      <div class="col-xs-12 col-sm-8 impressum-txt">

        <p>
        {% blocktrans %}
        University of Basel<br>
        Educational Technologies<br>
        Petersgraben 35<br>
        4001 Basel<br>
        Switzerland<br>
        <br>
        Tel.: +41 61 207 12 12<br>
        E-Mail: bbit@unibas.ch
        {% endblocktrans %}
        </p>

      </div>
    </div>

    <div class="row bright-background flex-row-background-margin">
      <div class="hidden-xs col-sm-4">
      </div>
      <div class="hidden-xs col-sm-8">
        <hr>
      </div>
    </div>

    <div class="row bright-background flex-row-background-margin">
      <div class="col-xs-12 col-sm-4 impressum-title">
        <h2>{% trans "Limitation of liability" %}</h2>
      </div>

      <div class="col-xs-12 col-sm-8 impressum-txt">

        <p>
        {% blocktrans %}
        Although every care has been taken by Educational Technologies to ensure the accuracy of the information published, no warranty can be given in respect of the accuracy, reliability, currency or completeness of this information.
        {% endblocktrans %}
        </p>

        <p>
        {% blocktrans %}
        The Educational Technologies reserves the right to alter or remove content, in full or in part, without prior notice.
        {% endblocktrans %}
        </p>

        <p>
        {% blocktrans %}
        In no event will the Educational Technologies be liable for any loss or damage of a material or immaterial nature arising from access to, use or non-use of published information, or from misuse of the connection or technical faults.
        {% endblocktrans %}
        </p>

      </div>
    </div>

    <div class="row bright-background flex-row-background-margin">
      <div class="hidden-xs col-sm-4">
      </div>

      <div class="hidden-xs col-sm-8">
        <hr>
      </div>
    </div>

    <div class="row bright-background flex-row-background-margin">
      <div class="col-xs-12 col-sm-4 impressum-title">
        <h2>{% trans "Links" %}</h2>
      </div>

      <div class="col-xs-12 col-sm-8 impressum-txt">

        <p>
        {% blocktrans %}
        Use of links on our website to third party websites lies outside the scope of responsibility of the Educational Technologies. Access and use of such websites occurs entirely at the user’s own risk. The Educational Technologies expressly states that it has no influence whatsoever over the content of any linked site. Responsibility for information and services of linked sites rests entirely with the relevant third parties. No liability can be accepted in respect of the content of such websites.
        {% endblocktrans %}
        </p>

      </div>
    </div>

    <div class="row bright-background flex-row-background-margin">
      <div class="hidden-xs col-sm-4">
      </div>

      <div class="hidden-xs col-sm-8">
        <hr>
      </div>
    </div>

    <div class="row bright-background flex-row-background-margin">
      <div class="col-xs-12 col-sm-4 impressum-title">
        <h2>{% trans "Data protection" %}</h2>
      </div>
      <div class="col-xs-12 col-sm-8 impressum-txt">

        <p>
        {% blocktrans %}
        Based on Article 13 of the Swiss Federal Constitution and the provisions of federal data protection legislation, everyone has the right to the protection of their privacy, as well as to protection from misuse of their personal details. The Educational Technologies complies with these provisions. Personal data is treated as strictly confidential and is neither passed on nor sold to third parties.
        {% endblocktrans %}
        </p>

        <p>
        {% blocktrans %}
        In close cooperation with our hosting provider, we make every effort to protect the databases as well as possible from outside access, data loss, misuse or falsification.
        {% endblocktrans %}
        </p>

        <p>
        {% blocktrans %}When you access our webpages, the following data is stored in log files: IP address, date, time, browser request and general information on the operating system and browser. This usage data forms the basis for statistical, anonymous evaluations for the purpose of tracking trends so that the Educational Technologies can improve the information on offer.
        {% endblocktrans %}
        </p>

      </div>
    </div>

    <div class="row bright-background flex-row-background-margin">
      <div class="hidden-xs col-sm-4">
      </div>

      <div class="hidden-xs col-sm-8">
        <hr>
      </div>
    </div>

    <div class="row bright-background flex-row-background-margin">
      <div class="col-xs-12 col-sm-4 impressum-title">
        <h2>Copyright</h2>
      </div>

      <div class="col-xs-12 col-sm-8 impressum-txt">

        <p>
          {% blocktrans %}
          When planning to use any of the resources found through this portal,
          make sure to consider the license under which it has been published.
          {% endblocktrans %}
        </p>
        <p>
          {% blocktrans %}
          Please note that downloading or copying texts or other documents does
          not per se entail any transfer of rights to the content.
          {% endblocktrans %}
        </p>
        <p>
          {% blocktrans %}
          Copyright and any other rights relating to texts, illustrations,
          photos or any other data available on the NMC website are the
          exclusive property of the NMC or of any other expressly mentioned
          owners.

          <!-- Downloading or copying of texts, illustrations, photos or any other data does not entail any transfer of rights of the content. Copyright and any other rights relating to texts, illustrations, photos or any other data available on the NMC website are the exclusive property of the NMC or of any other expressly mentioned owners. Any reproduction requires the prior written consent of the copyright holder. -->
          {% endblocktrans %}
        </p>
        <p>
        {% trans "Copyright © 2021 Educational Technologies." %}
        </p>

      </div>
    </div>
  </div>
</div>
{% endblock search-content %}
