{% extends 'search/search.html' %}
{% load static i18n utility_tags imagekit embed_video_tags %}

{% block search-content %}

<div class="page-content">
  <div class="row bright-background flex-row-background-margin half-gutter resource-detail">

    <div class="col-xs-12 col-sm-push-4 col-sm-8 res-detail-txt">
      <div class="row">
        <div class="resource-detail-txt-top-row col-xs-12">
          <div class="resource-title">
            <hr> </hr>
            <h4>{{ learningresource.title }}
              {% if learningresource.subtitle %}
              <div class="resource-subtitle">{{ learningresource.subtitle }}</div>
              {% endif %}
            </h4>
            <hr> </hr>
          </div>
          <div class="placeholder"></div>
          <div class="close-x">
            <script type="text/javascript">
              document.write('<a href="javascript:history.back()">X</a>');
            </script>
            <noscript>
              <a href="/{{LANGUAGE_CODE}}/search/">X</a>
            </noscript>
          </div>
        </div>
      </div>
      <!-- Basic information -->
      <div class="row">
        <div class="col-xs-12">
          <p>{{ learningresource.description|linebreaksbr }}</p>
        </div>
      </div>

      <!-- Extended information -->
      <div class="row">
        <div class="col-xs-12">
          <p class="additional-resource-info">
          {% if learningresource.subjects %}{% trans "Subject" %}:
          <!-- Fach -->
          {% for subject in learningresource.subjects.all %}
            {% trans subject.title %}{% if not forloop.last %};{% endif %}
          {% endfor %} |
          {% endif %}
          {% if learningresource.creator %}{% trans "Creator" %}: {{ learningresource.creator }} | <!-- Verfasser: Fachperson -->{% endif %}
          {% if learningresource.contributor %}{% trans "Contributor" %}: {{ learningresource.contributor }} | <!-- weitere Beitragende -->{% endif %}
          {% if learningresource.supporters %}{% trans "Supporters" %}: {{ learningresource.supporters }} |{% endif %}
          {% if learningresource.production %}{% trans "Production" %}: {{ learningresource.production }} |{% endif %}
          {% if learningresource.date %}{% trans "Year" %}: {{ learningresource.date | date:"Y"}} | <!-- Datum -->{% endif %}
          </p>
        </div>
      </div>

      <div class="open-resource-link">
        <a target="_blank" href="{{ learningresource.link }}" title="{{ learningresource.title }}">{% trans "Open resource" %}</a>
      </div>

      <!-- Clearfix -->
      <div class="clearfix"></div>

      <!-- Icon container -->
      <div class="width-100">
        <!-- Critical icons -->
        <div class="critical-icons vertical-center pull-left">
          {% if learningresource.has_technical_problems %}
          <div class="techprob">
            <img src="{% display_icon 'tech' 'issue' LANGUAGE_CODE %}" class="tech-issue pull-left icon" title="{% trans "This resource may have technical issues. It depends on outdated software or may contain artifacts that are not available to your device." %}" alt="{% trans "Technical issues" %}"/>
          </div>
          {% endif %}

          {# TODO: Use constant from model instead of magic number #}
          {% if learningresource.access_type == 2 %}
          <div class="techprob">
            <img src="{% display_icon 'login' 'required' LANGUAGE_CODE %}" class="login-required pull-left icon" title="{% trans "Login required" %}" alt="{% trans "Login required" %}"/>
          </div>
          {% endif %}
        </div>
        <!-- Additional icons -->
        <div class="additional-icons vertical-center pull-right">
          <!-- Language icon -->
          {% for language in learningresource.languages.all %}
          <img src="{% display_icon 'language' language.short_code|slugify %}" class="language-{{language.short_code | slugify}} language-button pull-left icon language-icon" title="{% trans language.title %}" alt="{% trans language.title %}"/><!-- Language -->
          {% endfor %}

          <!-- Type icon -->
          {% for type in learningresource.types.all %}
          <img src="{% display_icon 'type' type.title|slugify %}" class="type-{{ type.title | slugify }} pull-left icon type-icon" title="{% trans type.title %}" alt="{% trans type.title %}"/><!-- Type -->
          {% endfor %}

          <!-- License icon -->
          <div class="license-button pull-left">
            {% if object.rights.rights_type == object.rights.RIGHTS_NOT_CLEAR %}
            <!-- <img src="{% display_icon 'rights' learningresource.rights.title|slugify LANGUAGE_CODE %}" class="rights-{{ learningresource.rights.title | slugify }} icon license-icon" title="{% trans learningresource.rights.title %}" alt="{% trans learningresource.rights.title %}"/> --><!-- License -->
            {% else %}
            <a href="{{ learningresource.rights.rights_link }}" target="_blank">
              <img src="{% display_icon 'rights' learningresource.rights.title|slugify LANGUAGE_CODE %}" class="rights-{{ learningresource.rights.title | slugify }} icon license-icon" title="{% trans learningresource.rights.title %}" alt="{% trans learningresource.rights.title %}"/><!-- License -->
            </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-sm-pull-8 resource-detail-media">
      <div class="row half-gutter">
        {# title image #}
        {% if learningresource.title_image %}
        <div class="resimage col-xs-12">
          {% generateimage 'eeducation:frontpagetn' source=learningresource.title_image -- alt=learningresource.title title=learningresource.title class='img-responsive' %}
        </div>
        {% else %}
        <div class="resimage col-xs-12">
          <img src="https://placeholdit.imgix.net/~text?txtsize=23&txt=eEducation&bg={% get_random_color %}&txtclr={% get_random_color %}&w=400&h=260" alt="eEducation" title="eEducation" class='img-responsive'/>
        </div>
        {% endif %}

        {# trailer video #}
        {% if learningresource.trailer %}
        {% video learningresource.trailer as trailer %}
        <div class="resimage col-xs-12">
          <div>
            <a href="#" class="video-playback" role="button" data-toggle="modal" data-target=".trailer-modal-lg">
              <span class="play-icon img-responsive" aria-hidden="true"></span>
              <img src="{{ trailer.thumbnail }}" title="{{learningresource.title}}" alt="{{learningresource.title}}" class="img-responsive" height="260" width="400">
            </a>
          </div>
          {% endvideo %}

          <!-- Large modal -->
          <div class="modal fade trailer-modal-lg trailer" tabindex="-1" role="dialog" aria-labelledby="Trailer">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="video-container">
                  {% video learningresource.trailer 'medium' %}
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endif %}

        {# additional images #}
        {% for resource_image in learningresource.resourceimage_set.all %}
        <div class="resimage col-xs-12">
          {% generateimage 'eeducation:frontpagetn' source=resource_image.image -- alt=learningresource.title title=learningresource.title class='img-responsive'%}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock search-content %}
