{% load staticfiles i18n utility_tags crispy_forms_tags%}

{% if messages %}
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <!-- Place to display messages if there are any -->
        {% for message in messages %}
        <div {% if message.tags == "success" %} class="alert alert-success alert-dismissible" {% endif %}>{{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        {% endfor %}
      </div>
    </div>
    <script>
    $(document).ready(function(){
      $(".alert").delay(4000).slideUp(200, function() {
         $(this).alert('close');
      });
    });
    </script>
{% endif %}

<div class="page-content">
  <div class="bright-background contact-container">
    <div class="row bright-background flex-row-background-margin">
      <div class="col-xs-12 contact-intro">

        <p>
          {% blocktrans %}
            Please upload a Swisscovery xml file.
          {% endblocktrans %}
        </p>

      </div>
    </div>

    <div class="row bright-background flex-row-background-margin">
      {% crispy form form.helper %}
    </div>
  </div>
</div>
