{% extends "base.html" %}
{% load staticfiles i18n utility_tags %}

{% block title %}{% trans "Page Not Found" %}{% endblock %}

{% block jumbotron %}
<h1>{% trans "Page Not Found" %}</h1>
<p>{% trans "Sorry, but the page you were trying to view does not exist." %}</p>
<!-- IE needs 512+ bytes: http://blogs.msdn.com/b/ieinternals/archive/2010/08/19/http-error-pages-in-internet-explorer.aspx -->
{% endblock %}
