{% extends "base.html" %}
{% load staticfiles i18n utility_tags %}

{% block title %}{% trans "Internal Server Error" %}{% endblock %}

{% block jumbotron %}
<h1>{% trans "Ooops!!! 500" %}</h1>

<h3>{% trans "Looks like something went wrong!" %}</h3>

<p>{% trans "We track these errors automatically, but if the problem persists feel free to contact us. In the meantime, try refreshing." %}</p>
{% endblock %}
