{% load staticfiles i18n utility_tags %}
<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><html class="no-js" lang=""><![endif]-->
<html lang="{{ LANGUAGE_CODE }}" class="{{request.resolver_match.url_name}}">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}{% trans "eEducation" %}{% endblock title %}</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="apple-touch-icon" type="image/png" href="{{STATIC_URL}}images/favicon_eEducation_180px.png">
    <link rel="shortcut icon" type="image/png" href="{{STATIC_URL}}images/favicon_eEducation_32px.png"/>
    {% block css %}
    <link rel="stylesheet" href="{% static 'css/eEducation.css' %}">
    <link href=https://fast.fonts.net/cssapi/b023cf84-f602-49db-8821-883d5e34f430.css type="text/css" rel="stylesheet" />
    {% endblock %}
    <script src="{% static 'js/vendor/jquery.min.js' %}"></script>

    <!-- Piwik -->
    <script type="text/javascript">
var _paq = _paq || [];
_paq.push(["setDomains", ["*.e-education.unibas.ch"]]);
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
  var u="//nmc.unibas.ch/piwik/";
  _paq.push(['setTrackerUrl', u+'piwik.php']);
  _paq.push(['setSiteId', 19]);
  var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
  g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
})();
    </script>
    <noscript><p><img src="//nmc.unibas.ch/piwik/piwik.php?idsite=19" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->
  </head>

  <body>
    <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong>
      browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to
      improve your experience.</p>
    <![endif]-->

    <!-- Navbar block -->
    {% url 'home' as home_url %}
    {% url 'about' as about_url %}
    {% url 'search' as search_url %}
    {% url 'impressum' as impressum_url %}
    {% url 'contact' as contact_url %}

    <header>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <nav class="navbar navbar-default">
        <div class="meta-balken">
          <div class="container">
            <ul class="nav navbar-nav navbar-left">
              {% if LANGUAGE_CODE == 'de' %}
              <li>
                <a href="{% translate_url en %}">English</a>
              </li>
              {% else %}
              <li>
                <a href="{% translate_url de %}">Deutsch</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
        <!-- Brand container -->
        <div class="brand-container">
          <div class="container">
            <div class="logo-wrapper">
              <a href="https://www.unibas.ch" target="_blank">
                <img src="{% static 'images/uni-basel-logo.svg' %}" alt="Universität Basel" />
              </a>
            </div>
          </div>
        </div>
        <div class="subbrand-container">
          <div class="container">
            <p>{% trans "eEducation Portal" %}</p>
          </div>
        </div>
        <div class="container main-nav">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu-collapse" aria-expanded="false">
             <span class="sr-only">{% trans "Toggle navigation" %}</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="main-menu-collapse">
            <ul class="nav navbar-nav">
              <!-- Brand and toggle get grouped for better mobile display -->
              <li {% if request.get_full_path == home_url %}class="active"{% endif %}>
                <a href="/{{LANGUAGE_CODE}}/">{% trans "Home" %}
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li {% if search_url in request.get_full_path %}class="active"{% endif %}>
                <a href="/{{LANGUAGE_CODE}}/search/">{% trans "Search" %}</a>
              </li>
              <li {% if request.get_full_path == impressum_url %}class="active"{% endif %}>
                <a href="/{{LANGUAGE_CODE}}/impressum">{% trans "Imprint" %}</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>



    <div class="container">
      <div class="col-xs-12" style="text-align: center;margin-top: 20px;font-size: 1.5rem;background-color: #fef;padding: 19px;">
        {% if LANGUAGE_CODE == 'de' %}
        Vielen Dank für Ihr Interesse am Portal eEducation. Sie finden hier
        weiterhin die bisher verlinkten Ressourcen, es werden jedoch keine
        neuen Ressourcen hinzukommen. Ende 2024 wird das Portal eEducation
        abgeschaltet. Die Ressourcen werden danach nur noch direkt und nicht
        mehr über das Portal eEducation erreichbar sein.
        {% else %}
        Thank you for your interest in the eEducation Portal. You will continue to find
        the previously linked resources here, but no new resources will be added. The
        eEducation Portal will be shut down at the end of 2024. The resources will then
        only be accessible directly and no longer via the eEducation Portal.
        {% endif %}
      </div>

    {% block jumbotron %}
    {% endblock jumbotron %}

    {% block content %}
    {% endblock content %}

    {% block highlights %}
    {% endblock highlights %}

    <footer class="row">
      <div class="col-xs-12">
        <hr>
        <p>&copy; {% trans "University of Basel" %} {% now "Y" %}</p>
      </div>
    </footer>
    </div>
    <!-- /container -->
    {% block modal %}

    {% endblock modal %}

    {% block javascript %}
    <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/ourMain.js' %}"></script>
    {% endblock javascript %}
  </body>
</html>
